<div class="container">


    <script src="~/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#rslides").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "rslides"
            });

        });
    </script>
    <div id="rslides">
        <img src="~/images/lb1.jpg" alt="" />
        <img src="~/images/lb2.jpg" alt="" />
        <img src="~/images/lb3.jpg" alt="" />
    </div>


    <div class="twlst">
        <div class="row">
            <div class="col-md-3">
                <a href="@Url.Action("TanweiDt")"> <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div></a>
               
            </div>
             <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>  <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>  <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>
        </div>
         <div class="row">
            <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>
             <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>  <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入 摆摊也只用了 一分钟而已</div>
            </div>  <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>
        </div> <div class="row">
            <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>
             <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>  <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>  <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>
        </div> <div class="row">
            <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>
             <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>  <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>  <div class="col-md-3">
                <div class="twempty"></div>
                <div class="twtxt">急速摆摊,一键进入</div>
            </div>
        </div>

    </div>

</div>
