@using LiantanjieCommon.Config
<!DOCTYPE HTML>
<html>
<head>
    <title>@TotalConfigs.MallConfig.MallName</title>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <script src="~/js/jquery.min.js"></script>
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @Html.Partial("_header")
    @RenderBody()
</body>
</html>
